{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at Fixit app.{% endblocktranslate %}

{% translate "Please copy the following codes and choose a new password in the app:" %}
{% block reset_link %}
Code1:
{{uid}}

Code2:
{{token}}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our app!" %}

{% blocktranslate %}The Fixit team{% endblocktranslate %}

{% endautoescape %}